.App {
  text-align: center;
}

.navbar_wrapper a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
}
.dropdown-item {
  text-align: center;
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
  background-color: #e9ecef !important;
}

.spinner {
  animation: spin infinite 2s linear;
  font-size: 32pt;
}
.active-link {
  color: #0000ee !important;
}
.withPointer {
  cursor: pointer !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1; /* Firefox */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
